/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");

/*===== VARIABLES CSS =====*/

:root {
  --header-height: 4.2rem;
}

/*==== OTHER COLORS & FONTS*====*/
:root {
  --bg-color: rgb(250, 248, 248);
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 2.5rem;
  --section-font-family: "Irish Grover", cursive;
  --text-color: #0e2431;
  --second-text-color: #fff;
  --button-text-color: #051b29;
  --normal-font-size: 0.938rem;
  --primary-color: #6d614f;
  --shadow-header: 0 1px 4px rgba(146, 161, 176, 0.15);
  --shadow-footer: 4px 1px 4px rgba(146, 161, 176, 0.15);
  --skills-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --body-font: Arial, Helvetica, sans-serif;
  --headings-font: "Josefin Sans", sans-serif;
  --buttons-font: "Antonio", sans-serif;
  --primary-font-color: #172b3a;
  --secondary-font-color: #271a09;
  --body-font-color: #353535;
  --white-color: #fff;
  --dark-bg: #121212;
  --footer-bg: #271a09;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --body-font: "Poppins", sans-serif;
  }
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
/*===== Margins =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== BASE =====*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

/*===== Margins =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mt-1: 0.5rem;
  --mt-2: 1rem;
  --mt-3: 1.5rem;
  --mt-4: 2rem;
}

/* preloader */
#preloader {
  height: 100%;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 7px solid rgb(41, 51, 55);
  position: relative;
  animation: spin 2s linear infinite;
}

.loader {
  width: 90px;
  height: 90px;
  margin: auto;
  padding-top: 1em;
}

.loader i {
  animation: none;
  color: rgb(154, 111, 45);
  animation: unspin 2s linear infinite;
  transform-origin: center center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes unspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes unspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

body {
  background-color: var(--bg-color);
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.9rem;
}

body::-webkit-scrollbar-track {
  border-left: 1px solid rgb(188, 207, 235);
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  height: 3.5px;
  background-color: var(--button-text-color);
  border-radius: 50px;
}

body::-webkit-scrollbar-button {
  display: none;
  border-radius: 100px;
}

.section-title h2 {
  font-size: 1.7em;
  padding-bottom: 50px;
  font-weight: 400;
  color: var(--primary-font-color);
  letter-spacing: 0.01em;
  margin-bottom: 8px;
  text-align: center;
  font-family: var(--primary-font);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-5);
  margin-top: 20px;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--bg-color);
  box-shadow: var(--shadow-header);
  font: var(--section-font-family);
}
/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--primary-font);
  font-weight: 700;
  padding-right: 90px;
}

@media (min-width: 240px) and (max-width: 480px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--bg-color);
    border-left: 1px solid var(--dark-bg);
    transition: 0.5s;
  }

  .nav__menu:hover {
    color: #ff0000;
  }

  .nav__item ul {
    display: none;
    position: absolute;
    background: rgb(95, 49, 49);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 70px;
    margin-right: 50px;
  }

  .nav__item ul li a {
    color: #ffffff;
    font-size: 5px;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

nav__link active {
  color: red;
}

.nav__item a:hover {
  color: #ff0000;
}

.nav__link {
  position: relative;
  color: var(--text-color);
  font-size: 1rem;
}

.nav__link i:hover {
  transform: rotate(180deg);
  animation-duration: 0.2s;
}

.nav__toggle {
  color: var(--second-color);
  font-size: 3rem;
  cursor: pointer;
  transition: 0.5s ease-out;
  position: absolute;
  top: calc(100% -25px);
  right: 15px;
}

.nav__toggle.rotate {
  transform: rotate(-720deg);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

.logo img {
  margin-bottom: var(--mb-2);
}

.nav__item ul {
  display: none;
  position: absolute;
  background: rgb(95, 49, 49);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* margin-left: -50px; */
}

.nav__item ul:hover {
  color: #ff0000;
}
.nav__item:hover ul {
  display: block;
}
.nav__item ul li a {
  color: #ffffff;
  font-size: 15px;
}

.nav__item ul li a:hover {
  text-decoration: none;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  visibility: visible;
  color: #ffffff;
}

.nav__item li {
  margin: 0;
  padding: 5px 10px;
  color: white;
  border-bottom: 1.2px solid rgba(159, 153, 153, 0.6);
}

.nav__item li:hover {
  background-color: var(--secondary-font-color);
  color: var(--white-color);
  text-decoration: none;
}

/*===== HOME =====*/

/* Begin: Slider */

.slide__text-desc {
  font-family: var(--primary-font);
  font-size: 10px;
}

.slider-container {
  position: relative;
  height: 85%;
  cursor: pointer;
  overflow: hidden;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .slider-container {
    height: 65%;
    width: 100%;
    overflow: hidden;
    background: cover;
  }
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}

.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.18) 0%,
    transparent 100%
  );
}
.slider-control.right {
  right: 0;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.18) 100%
  );
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .slider-pagi {
    bottom: 0.5rem;
  }
}

.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  /* width: .5rem;
  height: 1rem; */
  margin: 0 0.7rem;
  border-radius: 25%;
  border: 1px solid var(--secondary-font-color);
  cursor: pointer;
}

.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before,
.slider-pagi__elem:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}

.slider.animating {
  transition: transform 0.4s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: transform 0.4s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  transform: translateX(0);
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .slide.active .slide__overlay,
  .slide.active .slide__text {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform;
}

@media (max-width: 991px) {
  .slide__bg {
    background-size: cover;
    background-position: center;
    height: 100%;
    max-width: 50%;
  }
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .slide__bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    max-width: 100%;
    display: inline;
    vertical-align: middle;
  }
}
/* first slide */
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("slide-1.jpg");
}

.slide:nth-child(1) .slide__bg::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    margin-top: 150px;
  }
}

.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("slide-2.jpg");
}

.slide:nth-child(2) .slide__bg::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    margin-top: 150px;
    opacity: 1;
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("slide-3.jpg");
}

.slide:nth-child(3) .slide__bg::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    margin-top: 150px;
    opacity: 1;
  }
}

/* .slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("slide-1.jpg");
}

@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    margin-top: 150px;
    background-color: var(--primary-font-color);
    opacity: 1;
  }
} */

.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("law.jpg");
}

.slide:nth-child(4) .slide__bg::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    margin-top: 150px;
    opacity: 1;
  }
}

.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .slide__content {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}

.slide__overlay path {
  opacity: 0.6;
}

.slide__text {
  position: absolute;
  text-align: center;
  margin-top: 15px;
  padding-top: 5px;
  top: 25%;
  width: 25%;
  right: 60%;
  color: #fff;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0;
}

.slide__text-1 {
  margin-top: 50px;
}

@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100rem;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem;
  }
}

.slide__text-heading {
  font-family: var(--headings-font);
  white-space: nowrap;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 0.1em;
  padding: 1rem -20rem 1rem;
  margin-right: 20px;
  animation: slidein 5s;
  -webkit-animation: slidein 5s;
  -moz-animation: slidein 5s;
  -o-animation: slidein 5s;
  -ms-animation: slidein 5s;
}

.slide__heading-heading-1 {
  font-size: 2rem;
  margin-top: 50px;
  padding: 1rem -20rem 4rem;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 0rem;
    font-size: 1.2em;
    margin: 2rem 0 3rem;
  }
  .slide__text-heading-1 {
    line-height: 0rem;
    font-size: 1.2em;
    margin: 2rem 0 3rem;
  }
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .slide__text-heading {
    font-size: 1.2rem;
    margin: -3rem 0 2rem;
    font-family: "Montserrat", sans-serif;
  }
  .slide__text-heading-1 {
    font-size: 1.2rem;
    margin: -3rem 0 2rem;
    font-family: "Montserrat", sans-serif;
  }
}

.slide__text-desc {
  font-family: var(--body-font);
  color: var(--white-color);
  padding: 1px;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  margin: 0.5rem auto 2rem;
  animation: fadeIn 7s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .slide__text-desc {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1rem;
    margin: -0.1rem 0 1rem;
  }
}

.button {
  background-color: transparent;
  border-style: solid;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 5px;
  padding: 10px 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: rgba(48, 48, 48, 0.8);
  text-decoration: none;
}

.button:hover {
  background: var(--button-text-color);
}

@media only screen and (max-width: 767px) {
  .button {
    background-color: var(--secondary-font-color);
    font-size: 12px;
    font-weight: 300px;
    padding: 8px 8px;
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .button {
    margin: -50rem 0 15rem;
    color: var(--white-color);
  }
}

/* End: slider */
#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: -5px;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background: var(--secondary-font-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
}

/*Begin : first section */
#first-section_home {
  margin-left: 100px;
  margin-right: 100px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.first-section_home h1 {
  font-family: var(--primary-font);
  font-size: 3.5rem;
}

.first-section_home h2 {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  padding-bottom: 1.2rem;
}

@media only screen and (min-width: 240px) and (max-width: 991px) {
  #first-section_home {
    padding-top: 79px;
    margin-left: 20px;
  }

  .first-section_home h2 {
    font-size: 1.3rem;
    white-space: nowrap;
    align-items: center;
  }
  .first-section_home .right img {
    width: 380px;
    height: 400px;
    max-width: 500%;
    margin-left: -105px;
    /* margin-right: -150px; */
  }

  .first-section_home .container {
    display: flex;
    flex-wrap: wrap;
  }
}

.first-section_home p {
  text-align: justify;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
  font-family: var(--primary-font);
  letter-spacing: 0.01em;
  font-size: 1.3em;
}

.right img {
  border-radius: 5px;
  margin-top: 4rem;
  width: 600px;
  height: 500px;
  padding-left: 3.125em;
}

/*End : first section */

/* Begin: Second section */
.second-section_home {
  margin-left: 100px;
  margin-right: 100px;
}

@media only screen and (min-width: 240px) and (max-width: 991px) {
  .second-section_home {
    margin-left: 18px;
    margin-right: 18px;
  }
}
.second-section_home .container {
  grid-gap: 1rem;
}

@media only screen and (min-width: 240px) and (max-width: 991px) {
  .second-section_home .container {
    grid-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  .second-section_home .card h2 {
    font-size: 1rem;
  }
  .second-section_home .card .text {
    font-size: 0.8rem;
  }
}

.card {
  background: var(--primary-font-color);
  padding: 2rem;
  border: none;
  border-radius: 5px;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 3px;
  color: var(--white-color);
}

.card i {
  padding-bottom: 0.5em;
  padding-right: 0.7rem;
  color: var(--white-color);
}

.card .text {
  padding-bottom: 0.5em;
  color: var(--white-color);
}
/* End : Second section */

/* Begin: Third Section home */
.third-section_home {
  margin-left: 150px;
  margin-right: 150px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .third-section_home {
    margin-left: 30px;
    margin-right: 30px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }

  .third-section_home .card-container {
    padding: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .third-section_home h2 {
    white-space: nowrap;
    align-items: center;
  }
}

.card_practice-1 .card-image,
.card_practice-4 .card-image {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 50px;
  width: 350px;
  height: 300px;
}

.card_practice-2 .card-image,
.card_practice-5 .card-image {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  width: 350px;
  height: 300px;
}

.card_practice-3 .card-image,
.card_practice-6 .card-image {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 50px;
  width: 350px;
  height: 300px;
}

.card-image {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.card-overlayy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-top-left-radius: 50px;
}

.card-overlayyy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.overlay-title {
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
  white-space: nowrap;
}

.overlay-description {
  font-size: 12px;
}

.overlay-content .btn {
  background: transparent;
  color: white;
  padding: 8px 12px;
  border: 2px solid #ffffff;
  font-size: 15px;
  margin-top: 7px;
  cursor: pointer;
}

.card-link:hover .card-overlay {
  opacity: 1;
}

.card-link:hover .card-overlayy {
  opacity: 1;
}

.card-link:hover .card-overlayyy {
  opacity: 1;
}

.card-link {
  display: block;
  position: relative;
}

/* Begin : fourth section */

.fourth-section_home {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url(law-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .fourth-section_home {
    overflow: hidden;
    background-position: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 240px) and (max-width: 991px) {
  .fourth-section_home .text-wrapper {
    margin-top: 10rem;
  }
  .fourth-section_home .text-wrapper .hero__headline {
    font-size: 1.7rem;
  }
  .fourth-section_home .text-wrapper .button {
    font-size: 1.2em;
  }
}

.text-wrapper {
  margin-bottom: 5rem;
  text-align: center;
}

.hero__headline {
  font-size: 3.5rem;
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center;
  font-family: var(--headings-font);
  color: var(--white-color);
}

.text-wrapper .button:hover {
  background: var(--button-text-color);
}
/* End: fourth section */

/* Begin: Fifth section home */

.fifth-section_home {
  margin-left: 150px;
  margin-right: 150px;
}

.call-us__col-content {
  width: 100%;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.h2::before {
  content: '"';
  font-size: 2rem;
}

.h2::after {
  content: '"';
  font-size: 2rem;
}

.card .h2 {
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .call-us__col-content .subtitle {
    margin-left: -230px;
    margin-top: -10px;
    font-size: 1rem;
    white-space: nowrap;
    text-align: center;
  }

  .call-us__col-content .title {
    font-size: 1rem;
    white-space: nowrap;
    text-align: center;
    margin-left: -210px;
    letter-spacing: 0.1em;
  }

  .fifth-section_home .call-us__row {
    display: inline-block;
    padding: 10px;
  }

  .call-us__col-content ul li {
    margin-left: -150px;
  }

  .call-us__img {
    margin-top: -5em;
  }

  .call-us__column .call-us__img-wrap .call-us__img {
    /* width: 200px;
    height: 200px; */
    margin-left: -12rem;
  }
}

.subtitle,
.h2-big {
  color: #000;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  line-height: 1.3;
  font-size: 30px;
  margin-bottom: 35px;
}

.call-us__row ul li {
  padding-left: 10px;
  position: relative;
  margin-bottom: 35px;
  text-align: justify;
  font-family: var(--primary-font);
}

.call-us__row ul {
  list-style: none;
}

.call-us__row ul li::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 1px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: #000;
}

.call-us__row {
  display: flex;
  flex-wrap: nowrap;
}

.call-us__img img {
  max-width: 100%;
  width: 100%;
  padding-left: 50px;
  padding-top: 100px;
  /* position: absolute;
  z-index: 2; */
}

.call-us__Info {
  margin-top: 0.2rem;
}

.call-us__info .h2 {
  margin: 0;
}

.call-us__Info {
  background: var(--white-color);
  position: relative;
  /* bottom: -2px; */
  /* top: -20px; */
  z-index: 1;
  /* padding-bottom: 1px;
  padding-top: 1px */
}

.call-us__Info .card {
  margin-top: -20px;
}

.call-us__Info .card .h2 {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  color: var(--white-color);
}

@media only screen and (min-width: 240px) and (max-width: 991px) {
}

/* footer */

.footer {
  background: var(--secondary-font-color);
  color: #ffffff;
  height: 380px;
  position: relative;
}

.footer .footer-content {
  height: 3px;
  display: flex;
  flex-wrap: wrap;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding-top: 20px;
  margin-left: 80px;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .footer .footer-content .footer-section {
    margin-left: 10px;
    margin-top: 1.2rem;
  }
}

.footer .footer-content h2 {
  color: var(--white-color);
  font-size: 1rem;
}

.footer .footer-content .about p {
  font-size: 0.8rem;
  color: var(--white-color);
  text-align: justify;
  padding: 10px 7px 10px;
  font-family: var(--body-font);
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .footer .footer-content .about p {
    padding: 10px 10px;
    margin-top: 0.1px;
  }
}
.footer .footer-content .about .contact span {
  display: block;
  font-size: 0.8rem;
  padding: 5px 5px;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .footer .footer-content .about .contact span {
    font-size: 0.8rem;
    padding-top: 15px;
  }
  .footer .footer-content .links {
    margin-top: -5px;
  }

  .footer .footer-content .contact-form {
    margin-top: -5px;
  }
  .footer .footer-content .contact-form h2 {
    margin-left: 3.8rem;
  }
}

.footer .footer-content .about .contact span i {
  color: var(--white-color);
}

.footer .footer-content .about .contact span a {
  color: #ffffff;
}

.footer .footer-content .about .contact span a:hover {
  text-decoration: none;
}

.footer .footer-content .contact-form .socials a {
  width: 40px;
  height: 50px;
  color: #ffffff;
  margin-top: 10px;
  display: inline-block;
  font-size: 1.5rem;
}

.footer .footer-content .contact-form .socials a:hover:nth-child(1):hover,
.footer .footer-content .contact-form .socials a:hover:nth-child(2):hover,
.footer .footer-content .contact-form .socials a:hover:nth-child(3):hover {
  color: red;
}

.footer .footer-content .contact-form .socials a:hover:nth-child(1) {
  color: white;
  transition: all 0.3s;
}

.footer .footer-content .contact-form .socials a:hover:nth-child(2) {
  color: white;
  transition: all 0.3s;
}

.footer .footer-content .contact-form .socials a:hover:nth-child(3) {
  color: white;
  transition: all 0.3s;
}

.footer .footer-content .links ul li {
  margin-top: 10px;
  list-style-type: none;
  margin-left: 10px;
}

.footer .footer-content .links ul li a {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 8px;
  color: #ffffff;
  font-family: var(--body-font);
}

.footer .footer-content .links ul a:hover {
  text-decoration: none;
  /* color: #ff0000; */
}

.footer .footer-bottom {
  background: var(--primary-font-color);
  color: #ffffff;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 7px;
}

.footer .footer-bottom p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.8rem;
  margin-right: 30px;
  margin-top: 10px;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .footer .footer-bottom p {
    text-align: center;
    justify-content: center;
    margin-left: 30px;
    margin-top: 0.5px;
  }
}
.footer .footer-bottom .copy-right a {
  color: var(--white-color);
}

.footer .footer-bottom .copy-right a:hover {
  text-decoration: none;
}
/* begin:  footer section*/
@media only screen and (min-width: 240px) and (max-width: 480px) {
  .footer {
    height: auto;
    overflow: hidden;
  }

  .footer .footer-content {
    height: auto;
    flex-direction: column;
  }

  .footer .footer-content .contact-form {
    padding-bottom: 120px;
  }

  .footer .footer-content .contact-form {
    margin-left: -60px;
  }

  .footer .footer-content .contact-form .socials {
    justify-content: center;
    color: white;
    margin-left: 4.5rem;
  }
}
/* End : footer */

/* Begin : About */
.about-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(about_image.jpg) no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.aboutButton {
  margin-top: 1.5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  background: var(--secondary-font-color);
  padding: 10px 14px;
}

.aboutButton:hover {
  background: var(--primary-font-color);
  transition: all 0.3s;
}

.about-hero h1 {
  color: var(--white-color);
  font-size: 58px;
  margin-top: 0;
  /* margin-bottom: 0.5em; */
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .about-hero {
    padding: 30px;
  }
  .about-hero h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  .about-hero {
    padding: 20px;
  }
  .about-hero h1 {
    font-size: 2em;
  }
}

/* articles */

.articles-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(slide-2.jpg) no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.articlesButton {
  margin-top: 1.5px; /* Add spacing between the text and button */
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  background: var(--secondary-font-color);
  padding: 10px 14px;
}

.articlesButton:hover {
  background: var(--primary-font-color);
  transition: all 0.3s;
}

.articles-hero h1 {
  color: var(--white-color);
  font-size: 58px;
  margin-top: 0;
  /* margin-bottom: 0.5em; */
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .articles-hero {
    padding: 30px;
  }
  .articles-hero h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  .articles-hero {
    padding: 20px;
  }
  .articles-hero h1 {
    font-size: 2em;
  }
}

/* end: articles */

/* Begin: contact: hero */
.contact-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(original-about.jpg) no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contactButton {
  margin-top: 1.5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  background: var(--secondary-font-color);
  padding: 10px 14px;
}

.contactButton:hover {
  background: var(--primary-font-color);
  transition: all 0.3s;
}

.contact-hero h1 {
  color: var(--white-color);
  font-size: 58px;
  margin-top: 0;
  /* margin-bottom: 0.5em; */
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .contact-hero {
    padding: 30px;
  }
  .contact-hero h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  .contact-hero {
    padding: 20px;
  }
  .contact-hero h1 {
    font-size: 2em;
  }
}

/* End :contacthero */

.contact-inner {
  background: #ffff;
  padding: 90px 0px 70px;
  position: relative;
  margin-top: -100px;
}

.contact-address ul li a {
  color: #ffff;
}

.contact-flex-container {
  display: flex;
  padding: 0px 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  /* border: 2px solid red; */
}

.contact-flex-container > div {
  box-shadow: 0px 1px 5px rgba(44, 30, 30, 0.1);
  padding-top: 8px;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .contact-flex-container {
    align-items: center;
    justify-content: center;
  }
  .contact-area .container {
    justify-content: center;
    align-items: center;
  }
  .contact-address ul {
    width: 315px;
  }
}

.contact-address {
  flex-basis: calc(100% * (4 / 12));
  padding-left: 20px;
  background: var(--secondary-font-color);
  color: var(--white-color);
  border-radius: 5px;
}

.contact-address .contact-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--white-color);
  letter-spacing: 0;
  margin-bottom: 13px;
}

.contact-form .contact-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary-font-color);
  letter-spacing: 0;
  margin-bottom: 13px;
}

.contact-flex-container p {
  margin-left: 5px;
  color: var(--white-color);
}

.contact-address p {
  color: var(--white-color);
  margin-bottom: 18px;
}

.contact-address ul li {
  display: flex;
  margin-bottom: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white-color);
  align-items: center;
  letter-spacing: 0.01em;
}

.contact-address ul li.h-addres {
  font-weight: 400;
  line-height: 25px;
}

.contact-address ul li i {
  height: 30px;
  width: 30px;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  font-size: 14px;
  margin-right: 13px;
  margin-left: -12px;
}

.contact-form {
  flex-basis: calc(100% * (8 / 12) - 30px);
  padding-left: 10px;
  padding-right: 70px;
}

.contact-form form .input {
  height: 33px;
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #b4b4b4;
  font-size: 14px;
  font-weight: 500;
  color: #696969;
  letter-spacing: 0;
  margin-bottom: 16px;
}

.contact-form form textarea#msg {
  height: 100px;
  padding-left: 3px;
}

.contact-form form #send {
  width: 495px;
  /* padding-left: 200px;
  padding-right: 20px; */
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  background: var(--secondary-font-color);
  border-radius: 5px;
  /* display: block; */
  /* text-align: center; */
  line-height: 40px;
  color: #fff;
  border: none;
  letter-spacing: 0.01em;
  transition: all 0.3s ease 0s;
}

@media only screen and (min-width: 240px) and (max-width: 480px) {
  .contact-area .contact-form {
    padding-left: 2rem;
    margin-left: 3.5rem;
    margin-top: 3rem;
  }

  .contact-address ul li a {
    color: #ffff;
  }

  .contact-form form #send {
    width: 315px;
  }

  .contact-form form .input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 12px;
  }
}

.contact-form form #send:hover {
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.3);
  background: var(--primary-font-color);
}

/* ===== MEDIA QUERIES=====*/
@media only screen and (min-width: 240px) and (max-width: 480px) {
  .contact-form form #send {
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/* begin: first section about */

#first-section_about {
  margin-left: 100px;
  margin-right: 100px;
  background: url(law-about.png) repeat center center fixed;
}

@media screen and (min-width: 240px) and (max-width: 480px) {
  .first-section_about {
    padding-top: 79px;
    margin-left: 20px;
  }
  .first-section_about .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .first-section_about .left img {
    width: 300px;
    height: 400px;
    margin-left: -80px;
    margin-right: 50px;
    margin-top: 50px;
  }
  .first-section_about .right {
    margin-left: -140px;
    font-size: 1em;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 480px) {
}

.right {
  padding-left: 3.2rem;
}

.right h2 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 0.5em;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  letter-spacing: 0.01em;
}

.right p {
  font-size: 1.3em;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
  font-family: var(--primary-font);
  text-align: justify;
  padding: -10px 15px;
}

.left img {
  border: none;
  border-radius: 5px;
}

/* End: first section about */
/* Begin: second-section_home */
#second-section_about {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.vision-image {
  padding-left: 3.2rem;
  padding-top: 1.2rem;
}

.vision-image img {
  border: none;
  border-radius: 5px;
}

.vision-text h2 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 0.5em;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  letter-spacing: 0.01em;
}

.vision-text p {
  font-size: 1.3em;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
  font-family: var(--primary-font);
  text-align: justify;
  padding: -10px 15px;
}

@media screen and (min-width: 240px) and (max-width: 480px) {
  #second-section_about {
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 100px;
  }
  #second-section_about .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #second-section_about .vision-image img {
    width: 300px;
    height: 400px;
    margin-left: -60px;
    padding-top: 50px;
  }

  #second-section_about .vision-text {
    font-size: 1em;
    /* margin-right: 90px; */
    /* text-align: center */
  }
  .vision-text {
    margin-left: -65px;
  }
  .vision-text h2 {
    white-space: nowrap;
  }
}

/* End: second-section_home */

/* Begin: second section about */

#third-section_about {
  min-height: 80vh;
  display: flex;
  background: linear-gradient(to right, #0c84a4, #030403);
  margin-bottom: 100px;
}

.third-section_home .section-title {
  color: var(--primary-font-color);
}

.third-section_about .section-title h2 {
  color: #ffffff;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 100px;
  overflow: hidden;
  border-radius: 25px;
}

.team-card {
  border-radius: 25px;
  background-color: #fff;
}

.image-content {
  position: relative;
  row-gap: 10px;
  padding: 60px 100px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--secondary-font-color);
  border-radius: 25px 25px 0px 25px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--secondary-font-color);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: var(--white-color);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 8px;
}

.card-image {
  position: relative;
  height: 180px;
  width: 180px;
  /* border-radius: 50%; */
  background: #e7dcdc;
  padding: 5px;
  display: block;
}

.card-image_1 {
  position: relative;
  height: 180px;
  width: 180px;
  /* border-radius: 50%; */
  background: #e7dcdc;
  padding: 5px;
  display: block;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-image_1 .card-img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-img {
  text-align: center;
}

.card-img1 {
  text-align: center;
}

.name {
  font-size: 17px;
  font-weight: 700;
  color: var(--primary-font-color);
}

.description {
  font-size: 12px;
  text-align: center;
}

.bttn a {
  color: white;
}

.bttn {
  border: none;
  font-size: 16px;
  color: var(--white-color);
  padding: 8px 16px;
  background-color: var(--secondary-font-color);
  border-radius: 5px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bttn:hover {
  background: var(--primary-font-color);
  color: #ffffff;
}

.swiper-navBtn {
  color: var(--white-color);
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: var(--white-color);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 10px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: var(--white-color);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--white-color);
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

/* End: second section about */

/* Begin: arbitration */

#link {
  background: var(--secondary-font-color);
  margin-top: 100px;
  font-size: 35px;
  overflow-x: hidden;
}

#link a {
  color: var(--white-color);
  font-size: 35px;
}

#link span {
  font-weight: 700;
  color: white;
  font-size: 20px;
  margin-bottom: 1000px;
}

#link .text {
  padding: 30px 120px 30px;
  font-size: 35px;
  text-align: center;
  font-family: "Playfair Display", serif;
  letter-spacing: 0;
  color: var(--white-color);
}

@media screen and (min-width: 240px) and (max-width: 600px) {
  #link {
    font-size: 1rem;
    overflow-x: hidden;
  }
  #link a {
    color: var(--white-color);
    font-size: 1rem;
    overflow-x: hidden;
  }

  #link .text {
    font-size: 1rem;
    text-align: center;
    margin-left: -6rem;
    white-space: nowrap;
    font-family: "Playfair Display", serif;
    letter-spacing: 0;
  }

  #second-section_arbitration {
    margin-left: 3rem;
  }

  .left__arbitration {
    margin-left: -2.9rem;
    margin-top: 2rem;
    padding-bottom: 1em;
    font-size: 1.6rem;
  }

  .left__arbitration .title {
    font-size: 1500px;
    font-family: var(--primary-font);
  }

  .left__arbitration a {
    font-size: 12px;
  }
}

#second-section_arbitration {
  margin-left: 100px;
  margin-right: 100px;
}

.left__arbitration .title {
  font-size: 25px;
  font-family: var(--primary-font);
  white-space: nowrap;
  margin-right: 12rem;
}

.left__arbitration a {
  font-size: 15px;
  font-family: var(--secondary-font);
  color: #5e5a5a;
  white-space: nowrap;
}

.left__arbitration a:hover {
  color: red;
  text-decoration: none;
  transition: all 0.3s;
}

.second-section_arbitration .container {
  display: flex;
  flex-wrap: nowrap;
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  .second-section_arbitration {
  }

  .right__arbitration {
    margin-top: 34rem;
    margin-left: -47rem;
    margin-bottom: 5rem;
    padding-left: 14rem;
    margin-right: -5rem;
  }

  .right__arbitration p {
    text-align: justify;
  }

  .right__arbitration img {
    width: 500px;
    /* height: auto; */
    justify-content: center;
    align-items: center;
  }

  .contact .btn {
    padding: 5px;
    font-size: 200px;
    margin-left: -3rem;
    margin-right: -10rem;
  }

  .right__arbitration h1 {
    font-size: 2px;
    white-space: nowrap;
    margin-top: 30px;
  }
}
.right__arbitration img {
  border: none;
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.right__arbitration h1 {
  font-size: 25px;
  font-weight: 400;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  letter-spacing: 0.01em;
}

/* .right__arbitration {
  margin-left: 2rem
} */

.right__arbitration p {
  font-size: 1.3em;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
  font-family: var(--primary-font);
  text-align: justify;
  padding: -10px 10px;
}
/* End: arbitration */
/* Begin: consult */
.contact .btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  padding: 13px;
}
/* End: consult */

/* start: practices: arbitration */

/* start: practices: arbitration */
/* Begin team */

.profile {
  margin-left: 100px;
  margin-right: 100px;
  height: auto;
}

.profile .title {
  margin-left: 1.5px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  padding-bottom: 14px;
}

#team-profile .socials {
  padding-right: 2.5em;
  font-size: 1.5rem;
}

/*Begin:  media queries for Profile page */
@media only screen and (min-width: 240px) and (max-width: 768px) {
  body,
  html {
    overflow-x: hidden;
  }

  #profile .profile_law {
    margin-top: 4.3rem;
    margin-left: -4em;
    font-size: 1rem;
  }

  #profile .profile_law a {
    font-size: 1rem;
    margin-top: -100px;
  }

  #profile .profile_law .title {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .horizontal {
    width: 0.2px;
  }

  #profile .profile_details_bamiwola {
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    margin-top: 1.5rem;
    margin-right: 50rem;
    overflow: hidden;
  }

  #profile .profile_details_adedapo {
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    margin-top: 1.5rem;
    margin-right: 50rem;
    overflow: hidden;
  }

  #profile .profile_details {
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    margin-top: 1.5rem;
    margin-right: 50rem;
    overflow: hidden;
  }

  #profile .profile_details img {
    padding-bottom: 2rem;
    margin-right: -0.9rem;
  }

  #profile .profile_details_fadipe img {
    padding-bottom: 2rem;
    margin-left: -5rem;
  }

  #profile .profile_details_fadipe img {
    padding-bottom: 2rem;
    margin-left: -5rem;
  }

  #team-profile {
    margin-top: -3.8rem;
  }

  #team-profile .name,
  #team-profile .role,
  #team-profile .email,
  #team-profile .phone {
    padding-bottom: 0.5em;
  }

  #team-profile .practice,
  #team-profile h3 {
    padding-bottom: 0.2em;
  }

  #team-profile .practice {
    margin-top: 0.5em;
  }

  .legal__help .botton {
    font-size: 0.8em;
  }

  .legal__help i {
    font-size: 0.8rem;
  }

  #profile .profiler_bamiwola {
    float: left;
    margin-left: 2.5rem;
    margin-right: 1rem;
    margin-top: 10rem;
  }

  .profiler_bamiwola p {
    text-align: justify;
    margin-right: 47rem;
  }
}

/* End : Media queries */

/* Begin : Profile */

.horizontal {
  width: 340px;
}

.profile h1 {
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  letter-spacing: 0;
  font-size: 30px;
  font-weight: 40;
}

.profile h2 {
  padding-top: 10px;
  padding-bottom: 0.5px;
}

.profile h2 a {
  color: #172b3a;
  font-family: var(--primary-font);
  letter-spacing: 0;
  font-size: 20px;
}

.profile h3 {
  margin-top: -3px;
  font-size: 15px;
  font-family: var(--headings font);
}

.profile h2 a:hover {
  color: #ff0000;
  text-decoration: none;
}

/* Begin: Bamiwoa style  */
.profiler_bamiwola {
  margin-left: 605px;
  margin-bottom: 2rem;
}

.profile_details_bamiwola img {
  height: 300px;
  width: 250px;
  margin-right: -20px;
  margin-top: 15px;
  border-top-left-radius: 20%;
  background-color: rgb(206, 215, 206);
  border: 4px solid #763b3b;
}

.profiler_bamiwola p {
  margin-top: -8em;
  text-align: justify;
  padding-right: 20px;
  margin-left: -100px;
}

/* End: Bamiwola */

/* Begin: Adedapo style */
.profiler_adedapo {
  margin-left: 605px;
  margin-bottom: 2rem;
}

.profile_details_adedapo img {
  height: 300px;
  width: 250px;
  margin-right: -20px;
  margin-top: 15px;
  border-top-left-radius: 20%;
  background-color: rgb(206, 215, 206);
  border: 4px solid #763b3b;
}

.profile_details_adedapo h3 {
  font-weight: 200;
}

.profile_details_adedapo {
  display: flex;
  flex-wrap: nowrap;
  float: right;
  margin-top: -30rem;
  gap: 5rem;
}

/* End: Adedapo style */
.profile_details img {
  height: 300px;
  width: 250px;
  margin-right: -20px;
  margin-top: 15px;
  border-top-left-radius: 20%;
  background-color: rgb(206, 215, 206);
  border: 4px solid #763b3b;
}

/* profile details */


.profile_details_bamiwola {
  display: flex;
  flex-wrap: nowrap;
  float: right;
  margin-top: -30rem;
  gap: 5rem;
}

.profile_details_fadipe {
  display: flex;
  flex-wrap: nowrap;
  float: right;
  margin-top: -30rem;
  gap: 5rem;
}

.profile_details {
  display: flex;
  flex-wrap: nowrap;
  float: right;
  margin-top: -30rem;
  gap: 5rem;
}
.profile_details_olutola {
  display: flex;
  flex-wrap: nowrap;
  float: right;
  margin-top: -30rem;
  gap: 5rem;
}

.profile_details_bamiwola h3 {
  font-weight: 200;
}

.profile_details_fadipe h3 {
  font-weight: 200;
}

/* team profile */
.profile_details_bamiwola .team-profile {
  margin-top: 15px;
  margin-right: 25px;
}

.profile_details_adedapo .team-profile {
  margin-top: 15px;
  margin-right: 100px;
}
/* shadare's profile settings */
.profile_details .team-profile {
  margin-top: 15px;
  margin-right: 20px;
}

.practice h2 {
  margin-bottom: -50px;
}

.profile_details h3 {
  font-weight: 200;
}

.team-profile .name {
  font-size: 20px;
  color: #763b3b;
}

.team-profile .practice {
  margin-top: 2rem;
  color: #763b3b;
  font-size: 20px;
}

.legal__help {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.botton a {
  color: white !important;
}

.legal__help .botton {
  margin-left: 1.5rem;
  padding: 10px;
  background: var(--secondary-font-color);
  color: var(--white-color) !important;
  border: none;
  border-radius: 6px;
}

.legal__help .botton:hover {
  background: var(--primary-font-color);
}

.legal__help i {
  font-size: 2rem;
  color: var(--secondary-font-color);
  margin-right: 1rem;
}

@media only screen and (min-width: 240px) and (max-width: 991px) {
  .legal__help {
    font-size: 0.5rem;
  }
}

/* sub: fadipe */

/* end team */
